<?php

//config file for sending emails
//rename to mailconfig.inc.php

//mailer
//choose to use PHP's mail() function or smtp. Defaults to mail.
$cfg['mail']['mailer'] = 'mail';
//$cfg['mail']['mailer'] = 'smtp';

//what name and address mails are to be sent from
$cfg['mail']['from'] = array('noreply@example.com', 'ovmlog');
//$cfg['mail']['repleyto'] = array('replyto@example.com', 'Firstname Lastname');

//smtp settigs
//only needs to be set when using SMTP.
$cfg['mail']['Host'] = 'smtp1.example.com;smtp2.example.com';  // Specify main and backup SMTP servers
$cfg['mail']['SMTPAuth'] = true;                               // Enable SMTP authentication
$cfg['mail']['Username'] = 'user@example.com';                 // SMTP username
$cfg['mail']['Password'] = 'secret';                           // SMTP password
$cfg['mail']['SMTPSecure'] = 'tls';                            // Enable TLS encryption, `ssl` also accepted
$cfg['mail']['Port'] = 587;                                    // TCP port to connect to

$cfg['mail']['subject']['lostpass'] = 'ovmlog wachtwoord';
$cfg['mail']['message']['lostpass'] = '<p>Beste {{NAME}},</p><p>Je nieuwe wachtwoord voor <a href="{{SITE_URL}}">ovmlog</a> is:<br>{{PASSWORD}}</p><p>Met vriendelijke groeten,<br>Gemeente Den Haag Verkeersmanagement</p>';

$cfg['mail']['subject']['newuser'] = 'ovmlog account';
$cfg['mail']['message']['newuser'] = '<p>Beste {{NAME}},</p><p>Er is een account voor je gemaakt voor <a href="{{SITE_URL}}">ovmlog</a>. Je kunt inloggen met onderstaande gegevens.</p><p>gebruikersnaam: {{USERNAME}}<br>wachtwoord: {{PASSWORD}}</p><p>Met vriendelijke groeten,<br>Gemeente Den Haag Verkeersmanagement</p>';

?>