html {
	border: 0;
	margin: 0;
}
body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: medium;
	border: 0;
	margin: 0;
	background-image: url(bar.png);
	background-repeat: repeat-x;
	background-position: right top;
}
h1 {
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 8px;
	}
h2 {
	font-size: large;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 8px;
}
h3{
	font-size: medium;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 8px;
}
p {
	margin-top: 8px;
	margin-bottom: 8px;
}
p.small {
    font-size: x-small;
}
p.error {
	display: block;
	margin: 8px;
	padding: 8px;
	border: 1px dashed #400;
}
p.success {
	display: block;
	margin: 8px;
	padding: 8px;
	border: 1px dashed #040;
}
a {
	color: #155429;
}
hr {
	border: none;
	border-bottom: 1px solid #155429;
	margin: 16px;
}

th {
	text-align: left;
	font-weight: bold;
}
td {
	vertical-align: top;
	padding: 2px 4px;
}
td.count {
	font-size: 60px;
	color: #CCC;
}
table.grid {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #CCC;
}
table.grid td {
	border: 1px solid #EEE;
	border-top: 1px solid #CCC;
	border-bottom: none;
	white-space: nowrap;
}
table.grid td.expand {
	width: 99%;
	white-space: normal;
}
table.grid tr.sub td {
	border-top: 1px solid #EEE;
}
table.grid tr.low td {
    color: #CCC;
}
table.grid tr.low td a {
    color: #999;
}
table.grid tr.upcoming td {
    background-color: #F5F5F5;
}
table.grid tr.attention td {
    background-color: #ffcdc1;
}
table.grid tr.manual td {
    background-color: #a3def7;
}
table.grid tr.monitor td {
    background-color: #fdff93;
}

label {
	font-weight: bold;
}
input.m, select {
	border: none;
	border-bottom: 1px solid #000;
	background-color: #EEE;
	width: 200px;
}
input.s {
	border: none;
	border-bottom: 1px solid #000;
	background-color: #EEE;
	width: 70px;
}
input.l {
	border: none;
	border-bottom: 1px solid #000;
	background-color: #EEE;
	width: 720px;
}
input.time {
	border: none;
	border-bottom: 1px solid #000;
	background-color: #EEE;
	width: 40px;
}
textarea {
	border: 1px solid #000;
	border-top: none;
	background-color: #EEE;
	width: 600px;
	height: 80px;
}
textarea.l {
	width: 720px;
	height: 200px;
}
div.right {
	float: right;
}

div#container {
	width: 1000px;
	margin: auto;
}
div#content {
	width: 984px;
	padding: 8px;
	padding-top: 0;
}
div#logo {
	margin: -16px;
	width: 120px;
	height:120px;
	float: right;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}

/* JQuery UI */
.ui-datepicker, .ui-dialog {
    font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: medium;
}

/*jquery fileupload*/
.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 4px;
	background: linear-gradient(to bottom, #EEE, #CCC);
	cursor: pointer;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	font-size: 200px !important;
	direction: ltr;
	cursor: pointer;
}
#progress {
	display: none;
	width: 200px;
	border: 1px solid #000;
	padding: 1px;
}
.bar {
    height: 18px;
	width: 0%;
    background-color:#155429;
}
